@charset "utf-8";

:root {
    --text-color: #fff;
    --shadow: 0.5rem 0.5rem 1rem #111;
    --border-radius: 1rem;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: 'ui-monospace', 'monospace';
}

* {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    margin: 0 1rem;
    padding-top: 10vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 4rem;
}

.wrapper .header {
    font-size: 180%;
    margin: 0;
    padding: 1rem 2rem;
    width: 100%;
    background: #58f;
    border-radius: var(--border-radius);
}

.app-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    height: 10rem;
    width: 100%;
    font-weight: bolder;
    text-align: center;
    color: var(--text-color);
    background: #4c4a4a;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    transition: 0.1s ease-in-out;
}

.app-link:hover, .app-link:focus {
    transform: scale(1.3);
}

.app-link:link {
    text-decoration: none;
    color: var(--text-color);
}

@media only screen and (min-width: 576px) {
    .app-link {
        width: 20rem;
    }
}

@media only screen and (min-width: 1024px) {
    .wrapper {
        margin: 0 auto;
        width: 80%;
    }
}
